* {
    box-sizing: border-box !important;
}

body {
    font-size: 18px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

th, td:first-child {
    background: #CD5C5C;
    color: #008000;
}

th, td {
    border: 0.5px solid #fff;
    padding: 10px;
}

td {
    background: #CD5C5C;
}

a {
    color: #000;
    text-decoration: none !important;
    padding: 10px;
}

h2 {
    font-size: 24px;
}

.but_creare {
    width: 260px;
    text-align: center;
    background-color: #CD5C5C;
    padding: 10px;
    margin-top: 10px;
}

    .but_creare a {
        color: black;
        font-weight: bold;
    }

a:hover {
    color: #CD5C5C;
}



form, .instr-block {
    width: 300px;
    padding: 10px;
    padding-top: 20px;
    background: #CD5C5C;
    border: 2px solid #0CAAB4;
}
    form .dataBox {
        margin-bottom: 20px;
        margin-left: 35px;
    }
        form .dataBox input {
            height: 40px;
            padding: 7px;
            margin-top: 7px;
            width: 200px;
        }
        form .dataBox select {
            height: 40px;
            padding: 7px;
            margin-top: 7px;
            width: 200px;
            margin-bottom: 0px;
        }
        form .dataBox input[type=submit] {
            background: #CD5C5C;
            color: white;
            font-size: 20px;
            border: 2px solid white;
        }
            form .dataBox input[type=submit]:hover {
                background: #2E8B57;
            }
.edit-block .back, .back {
    margin-top: 10px;
}
.instr-block a {
    display: inline-block;
    background: #CD5C5C;
    color: white;
    font-size: 20px;
    border: 2px solid white;
}
    .instr-block a:hover {
        background: #2E8B57;
    }
       